<!DOCTYPE html>
<html>

<head>
  <title>DistVote</title>
  <link rel="stylesheet" href="/css/bootstrap.css" />
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation">
            <a href="/voter">Voter</a>
          </li>
          <li role="presentation">
            <a href="/candidate">Candidate</a>
          </li>
          <li role="presentation">
            <a href="/warden">Warden</a>
          </li>
        </ul>
      </nav>
      <h3 class="text-muted">Voting Registration Portal</h3>
    </div>

    <div class="row">
      <div class="col-lg-12">
        {{#if success_msg}}
        <div class="alert alert-success">{{success_msg}}</div>
        {{/if}}
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        {{{body}}}
      </div>


    </div>
  </div>
  <!-- /container -->
</body>

</html>