<h2 class="page-header">Register as Candidate</h2>
<form method="post" action="/candidate">
   <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" placeholder="Name" name="name">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>