<h2 class="page-header">Get Voter Token</h2>
<form method="post" action="/voter">
  <div class="form-group">
    <label>Voter ID</label>
    <input type="text" class="form-control" name="id" placeholder="Voter ID" required>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>