<h2 class="page-header">Register as Warden</h2>
<form method="post" action="/warden">
   <div class="form-group">
    <label>Address</label>
    <input type="text" class="form-control" placeholder="Address" name="address">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>